* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', 'Open Sans', sans-serif;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #003a70;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  /* margin-bottom: 20px; */
}

.logo img{
  /* font-size: 20px;
  font-weight: 500; */
  width: 100px;
  height: auto;
}

.search {
  font-size: 12px;
  display: flex;
}

.search-bar {
  width: 200px;
  max-width: 200px;
  height: 30px;
  text-indent: 5px;
  margin-right: 3px;
  border: none;
  border-radius: 2px;
  &:focus {
    outline: none;
    outline-width: 0;
  }
}


.search-button {
  height: 30px;
  width: 30px;
  background-color: #Ffcb05;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
}

.search-button img {
  height: 18px;
}

.card-image {
  text-align: center;
}

.card-body {
  padding-top: 10px;
  text-align: center;
}

.row {
  margin-top: 50px !important;
}

.App {
  background-color: aliceblue;
  width: 100%;
  min-height: 100vh;
}

.loading-text {
  text-align: center;
  margin-top: 20%;
}